@model IEnumerable<FGORankGenerator.Models.ServantModel>;

@{
  ViewData["Title"] = "HOME";
}

<div class="main">
  <p class="message">
    10段階サーヴァント評価をリアルタイム更新！
  </p>
  <p class="message">
    クリックで所持チェックが保存可能です
  </p>
  <p class="link">
    参考：<a href="https://appmedia.jp/fategrandorder/1351236" target="_blank">AppMedia様</a>
  </p>
</div>

<div class="button">
  @using (Html.BeginForm("CsvDownload", "Home", FormMethod.Get))
  {
    <button class="btn btn-primary" value="download" name="download" type="submit">CSVダウンロード</button>
  }
</div>

@*
  <div class="button">
  @using (Html.BeginForm("GetLatestData", "Home", FormMethod.Get))
  {
    <button class="btn btn-primary" value="getData" name="getData" type="submit">
      最新データ取得
    </button>
  }
</div>
*@

<table id="sort_table" class="table table-striped table-hover table-sm table-responsive">
  <thead>
    <tr class="table-title">
      <th style="display:none" scope="col">No.</th>
      <th scope="col">サーヴァント名</th>
      <th scope="col">星 </th>
      <th scope="col">級</th>
      <th scope="col">色</th>
      <th scope="col">範</th>
      <th scope="col">周</th>
      <th scope="col">攻</th>
      <th scope="col">総</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var servant in Model)
    {
      <tr class="data" id="@servant.Id">
        <td style="display:none" scope="row">@servant.Id</td>
        <td>@servant.Name</td>
        <td>@servant.Rarity</td>
        <td>@servant.Class</td>
        <td>@servant.Type</td>
        <td>@servant.Range</td>
        <td>@servant.AppMediaOrbit</td>
        <td>@servant.AppMediaRate</td>
        @* 桁を揃える *@
        @{
          var overallRank = "";
          var hoge = servant.OverallRank;
          if (hoge >= 10)
          {
            overallRank = hoge.ToString("F0");
          }
          else
          {
            overallRank = hoge.ToString("F1");
          }
        }
        <td class="text-center">@overallRank</td>
      </tr>
    }
  </tbody>
</table>

<div class="text-center">
  <button id="all-check" class="btn btn-primary">全チェック</button>
  <button id="check-reset" class="btn btn-secondary">チェックリセット</button>
</div>

<div>
  Sort icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>